* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #666;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  border: 1px solid black;
}

header {
  height: 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 525px;
  height: 102px;
  background: black;

  color: white;
  font-size: 36px;

  display: flex;
  align-items: center;

  padding-left: 30px;
}




nav {
  padding: 17px 10px;
}

nav a {
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  margin-right: 8px;
}

nav a:hover {
  color: white;
}

nav button {
  background: black;
  color: white;

  border: 1px solid black;
  padding: 4px 7px;
}



.search-area {
  background: #1d1e21;
  padding: 5px;
}

.search-area input {
  width: 100%;
  height: 28px;

  border-radius: 3px;
  border: 1px solid #aaa;

  padding: 0 10px;
}




.banner {
  height: 247px;
  display: flex;
}

.banner-item {
  position: relative;
  width: 35%;
  overflow: hidden;
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.ranking-section {
  min-height: 315px;

  display: flex;
  justify-content: space-around;

  padding-top: 35px;
}




.ranking-box {
  width: 30%;
  text-align: center;
}

.ranking-box h2 {
  
  font-size: 30px;
  font-weight: normal;

  margin-bottom: 20px;
}


/* 순위 */

.ranking-box ol {
  display: inline-block;
  text-align: left;

  font-size: 18px;

  line-height: 1.35;
}


/* footer */

footer {
 

  background: #cfcdcd;

  padding: 12px;

  color: #888;
  font-size: 10px;
}

footer p {
  margin-bottom: 8px;
}

